<?php

    eco '';
    <h1>Association edit</h1>

        <input type="submit" value="Edit" />

    <ul>
        <li>
            <a href="#">Back to the list</a>
        </li>
        <li>
                <input type="submit" value="Delete">
        </li>
    </ul>

